In [42]:
import pandas as pd
import numpy as np

In [43]:
df = pd.read_csv("Premier_League_Final_Data.csv")

In [44]:
df.head()

,Club,Matches Played,Win,Loss,Drawn,Goals,Clean Sheets,TeamLaunch,Winners,Runners-up,lastplayed_pl
0,1Arsenal,1182,642,252,288,2089,448,1886,3.0,6,Apr-23
1,2Aston Villa,1062,368,399,295,1306,311,1874,0.0,1,Apr-23
2,3Birmingham City,266,73,111,82,273,66,1875,0.0,NaN,May-11
3,4Blackburn Rovers,696,262,250,184,927,210,1875,1.0,1,May-12
4,5Bolton Wanderers,494,149,217,128,575,108,1874,0.0,0,May-12

In [46]:
df.tail()

,Club,Matches Played,Win,Loss,Drawn,Goals,Clean Sheets,TeamLaunch,Winners,Runners-up,lastplayed_pl
35,36West Bromwich Albion,494,117,238,139,510,107,1878,NaN,0,Apr-18
36,37West Ham United,1025,343,423,259,1262,266,1895,NaN,0,Apr-23
37,38Wigan Athletic,304,85,143,76,316,73,1932,NaN,0,Apr-13
38,39Wolverhampton Wanderers,334,98,151,85,353,75,1877,0.0,0,Apr-23
39,40Portsmouth,266,79,122,65,292,61,April 1898,NaN,NaN,Apr-10

In the above head and tail of the dataset we are observing the data of premier league, it includes club name and other 10 features which are giving information about the club. however the entire data is not clean we can see that club names are attached with some numerical values and also null values are present in the runners-up column.

And in the tail we can see null values in winners and runner-up and there is an inconsistency in the TeamLaunch column, most of them are with year and the last one club has month name and year.

In [47]:
df.shape

(40, 11)

There are 40 rows and 11 columns in the dataset

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Club            40 non-null     object
 1   Matches Played  40 non-null     int64
 2   Win             40 non-null     int64
 3   Loss            40 non-null     int64
 4   Drawn           40 non-null     int64
 5   Goals           40 non-null     int64
 6   Clean Sheets    40 non-null     int64
 7   TeamLaunch      40 non-null     object
 8   Winners         25 non-null     float64
 9   Runners-up      22 non-null     object
 10  lastplayed_pl   40 non-null     object
dtypes: float64(1), int64(6), object(4)
memory usage: 3.6+ KB

There are 40 missing values in each column, indicating that there is no missing values. However null values observed in the Runners-up and winners column as observed earlier. The datatype for the runner up column is non-numeric, to perform any numerical analysis on this column, we need to convert it into a numeric datatype.